# Acessando os Dados de um DataFrame

* Diferentemente das matrizes, a forma de acessar um dado de um DataFrame por meio de índices é a seguinte:
*   dataframe[coluna][linha]

In [7]:
import pandas as pd

In [8]:
dados = [('Ana', 21), ('Bruno ', 20), ('Carla ', 22)]
df = pd.DataFrame(data = dados)
display(df)

        0   1
0     Ana  21
1  Bruno   20
2  Carla   22

In [9]:
# df[coluna][linha]
display(df[0][0]) # Ana
display(df[0][1]) # Bruno
display(df[0][2]) # Carla

'Ana'

'Bruno '

'Carla '

In [14]:
print(df[1][1]) # idade do Bruno
print(df[1][2]) # idade da Carla
print(df[1][0]) # idade da Ana

20
22
21

In [19]:
novo_dict = {
    "Nomes":["Carlos", "Sandro", "Fernando"],
    "Idades": [21, 20, 22]
}
novo_df = pd.DataFrame(novo_dict)
novo_df

      Nomes  Idades
0    Carlos      21
1    Sandro      20
2  Fernando      22

In [20]:
novo_df["Nomes"][1]

'Sandro'

In [21]:
novo_df.index = ["A","B","C"]

In [24]:
novo_df["Nomes"]["B"]

'Sandro'