# **Métodos Aritméticos**

*  A biblioteca pandas possui vários métodos para realização de cálculos em colunas:
    * **abs**: retorna uma lista com os valores absolutos da coluna.
    * **count**: conta o número de células da coluna que possuem valores disponíveis.
    * **nunique**: conta os valores distintos na coluna.
    * **sum**: calcula a soma dos valores da coluna.
    * **min**: obtém o menor valor da coluna.
    * **max**: obtém o maior valor da coluna.
    * **mean**: calcula a média dos valores da coluna.
    * **median**: obtém a mediana dos valores da coluna.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("info_alunos2.csv")
df

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M
5      Cisco      18         Estudante      francisco@gmail.com    M
6     Gerson      28         Estudante         Gerson@gmail.com    M
7    Manuela      25       Comerciante        manuela@gmail.com    F
8      Carla      23           Cantora          carla@gmail.com    F
9      Bruna      18         Estudante          bruna@gmail.com    F

In [ ]:
print(df.Idades.count()) # O numero de celulas(linhas) que a nossa df tem

10

In [17]:
print(df.Idades.abs().tolist()) # retornando a lista de valores absolutos da coluna

[23, 20, 22, 32, 47, 18, 28, 25, 23, 18]

In [ ]:
df.shape # vendo quantas linas nós temos

(10, 5)

In [10]:
df["Profissão"].nunique()

5

In [19]:
print(df.Idades.sum()) # A soma das idades

256

In [ ]:
df.nunique() # numero de valore unicos na tabela

Nomes        10
Idades        8
Profissão     5
E-mail       10
Sexo          2
dtype: int64

In [23]:
df["Profissão"].unique()

array(['Engenheiro Cívil', 'Estudante', 'Músico', 'Comerciante',
       'Cantora'], dtype=object)

In [48]:
print(df.Idades.min())# Quem é a idade minima pesente no dataset

18

In [49]:
print(df.Idades.max())# Quem é a idade maxima pesente no dataset

47

In [51]:
print(df.Idades.mean())# A media das idades

25.6

In [52]:
print(df.Idades.median()) # A mediana das idades

23.0

# Outros Métodos
*  **copy:** retorna uma cópia do DataFrame.
*  **head:** retorna as n primeiras linhas do DataFrame (padrão: 5).
*  **tail:** retorna as n últimas linhas do DataFrame (padrão: 5).

In [56]:
df_2 = df.copy() # Retorna uma copia do dataset
df_2

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M
5      Cisco      18         Estudante      francisco@gmail.com    M
6     Gerson      28         Estudante         Gerson@gmail.com    M
7    Manuela      25       Comerciante        manuela@gmail.com    F
8      Carla      23           Cantora          carla@gmail.com    F
9      Bruna      18         Estudante          bruna@gmail.com    F

In [60]:
df_2.head() # vendo as 5 primeiras linhas...(Editável)

       Nomes  Idades         Profissão                   E-mail Sexo
0  Cebolinha      23  Engenheiro Cívil      cebolinha@gmail.com    M
1     Sandro      20         Estudante  sandro_santos@gmail.com    M
2   Fernando      22         Estudante     fernandoFM@gmail.com    M
3      Pedro      32         Estudante        pedropp@gmail.com    M
4      Konde      47            Músico          konde@gmail.com    M

In [ ]:
df_2.tail() # Vendo as 5 ultimas linhas...(Editável)

     Nomes  Idades    Profissão               E-mail Sexo
5    Cisco      18    Estudante  francisco@gmail.com    M
6   Gerson      28    Estudante     Gerson@gmail.com    M
7  Manuela      25  Comerciante    manuela@gmail.com    F
8    Carla      23      Cantora      carla@gmail.com    F
9    Bruna      18    Estudante      bruna@gmail.com    F