# **1. Manipulação de Dados**

In [1]:
import pandas as pd

## **1.1** - Adicionando e Modificando Colunas em um DataFrame

In [2]:
novo_dict = {
    "Nomes":["Carlos", "Sandro", "Fernando"],
    "Idades": [21, 20, 22]
}
novo_df = pd.DataFrame(novo_dict)
novo_df

      Nomes  Idades
0    Carlos      21
1    Sandro      20
2  Fernando      22