# Acessando os Dados de um DataFrame

* Diferentemente das matrizes, a forma de acessar um dado de um DataFrame por meio de índices é a seguinte:
*   dataframe[coluna][linha]

In [1]:
import pandas as pd

In [17]:
dados = [('Ana', 21), ('Bruno ', 20), ('Carla ', 22)]
df = pd.DataFrame(data = dados)
display(df)

        0   1
0     Ana  21
1  Bruno   20
2  Carla   22

In [21]:
# df[coluna][linha]
display(df[0][0]) # Ana
display(df[0][1]) # Bruno
display(df[0][2]) # Carla

'Ana'

'Bruno '

'Carla '