# **Indexadores**

* Os DataFrames possuem indexadores para seleção de dados.
* Esses indexadores fornecem uma forma fácil e rápida de selecionar um conjunto de dados de um DataFrame.
* Alguns deles são:
    * T: usado para transpor linhas e colunas.
    * at: acessa um único elemento utilizando rótulos.
    * iat: acessa um único elemento utilizando índices.
    * loc: seleção de elementos utilizando rótulos.
    * iloc: seleção de elementos utilizando índices.

In [3]:
import pandas as pd

In [4]:
dados = [("Ana", 21), ("Pedro", 22), ("Fernanda", 34)]
dt = pd.DataFrame(dados, columns = ["Nomes", "Idades"], index = ["A", "B", "C"])
display(dt)

      Nomes  Idades
A       Ana      21
B     Pedro      22
C  Fernanda      34

# **T** (transposta)
* O que linha vira coluna e vice versa

In [5]:
dt.T # ou dt.transpose()

          A      B         C
Nomes   Ana  Pedro  Fernanda
Idades   21     22        34

# **at** 
* O indexador at acessa um único elemento do DataFrame utilizando o rótulo da linha e da coluna.

In [6]:
# Sintaxe dt.at[linha, coluna]

# Quero o nome ana
display(dt)
display(dt.at["A", "Nomes"]) # Quero o nome Ana

      Nomes  Idades
A       Ana      21
B     Pedro      22
C  Fernanda      34

'Ana'

In [7]:
dt.at["B", "Nomes"]

'Pedro'

# **iat**: indexador iat acessa os elemento ou sleleciona um elemento do dataFrame através dos íncdes e não pelos rótulos
* **Sintaxe:** dt.iat[1,0]
    *   onde: 1 - é a linha e o 0 - é a coluna
* **obs:** Se vc indexexar através de rótulos não vai funcionar
    * Exemplo de dados rótolado: dt.iat["B", "Idade"]

In [8]:
# Quero o nome pedro
display(dt.iat[1, 0])
# se for display(dt.iat[1, "Nomes"]) -  Vai dar um erro = "iAt based indexing can only have integer indexers"

'Pedro'

In [9]:
dt.iat[2, 0]

'Fernanda'

# **loc[[linha0, linha2,...]]**: 
* Ela seleciona a linha e a coluna por meio de rotulos, ou seja, • O indexador loc seleciona um conjunto de linhas e de colunas através dos rótulos ou por uma lista de valores booleanos.

In [10]:
dt.loc[["A", "C"]] # Quero a linha A e a linha C

      Nomes  Idades
A       Ana      21
C  Fernanda      34

In [11]:
dt.iloc[[0, 2]]

      Nomes  Idades
A       Ana      21
C  Fernanda      34

In [12]:
dt.iat[0,0]

'Ana'